



    <div class="col-sm-4">

        @using (Html.BeginForm("Go_Search", "Clients", FormMethod.Get))
        {

            @*@Html.Label("National ID", htmlAttributes: new { @class = "text-warning" })*@
            @Html.Editor("searchItem", new { htmlAttributes = new { @class = "form-control", placeholder = "Search" } })

        <button type="submit" value="Search" class="btn btn-danger" style="position: relative; left:360px;  bottom:34px;">   <i class="glyphicon glyphicon-search"></i></button>
        }
    </div>