





@*@using (Html.BeginForm("Go_sorting", "Account", FormMethod.Get))
{

    <select name="num" class="form-control">
        <option value="1"> sorting by UserName</option>
        <option value="2"> sorting by City</option>
        <option value="3"> sorting by Street</option>
        <option value="4"> sorting by Role</option>
        <option value="5"> sorting by National ID</option>
    </select>

    <input type="submit" value="Sorting" class="btn btn-danger" />
}*@



@using (Html.BeginForm("Go_sorting", "Account", FormMethod.Get))
{

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="search-wrap-1 ftco-animate mb-5">
                        <form action="#" class="search-property-1">
                            <div class="row">
                                <div class="col-lg align-items-end">
                                    <div class="form-group">
                                        <label for="#">Select Model</label>
                                        <div class="form-field">
                                            <div class="select-wrap">

                                                <select name="num" class="form-control">
                                                    <option value="1"> sorting by UserName</option>
                                                    <option value="2"> sorting by City</option>
                                                    <option value="3"> sorting by Street</option>
                                                    <option value="4"> sorting by Role</option>
                                                    <option value="5"> sorting by National ID</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="col-lg align-self-end">
                                    <div class="form-group">
                                        <div class="form-field">
                                            <input type="submit" value="Sorting" class="form-control btn btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



}
